
    body  
    {  
        margin: 0;  
        padding: 0;  
        background:linear-gradient(135deg, #71b7e6, #9b59b6);;  
        font-family: 'Arial';  
    }  
    .login{  
            width: 382px;  
            overflow: hidden;  
            margin: auto;  
            margin: 20 0 0 450px;  
            padding: 80px;  
            background:	white;  
            border-radius: 10px ;  
              
    }  
    h2{  
        text-align: center;  
        color: black;  
        padding: 15px;  
    }  
    label{  
        color: black;  
        font-size: 17px;  
    }  
    #Uname{  
        width: 300px;  
        height: 30px;  
        border: none;  
        border-radius: 3px;  
        padding-left: 8px;  
    }  
    #Pass{  
        width: 300px;  
        height: 30px;  
        border: none;  
        border-radius: 3px;  
        padding-left: 8px;  
          
    }  
   button {
   background-color: #a29bfe;
   color: white;
   width: 100px;  
   height: 50px; 
   border: none;
  cursor: pointer;
   margin: 8px 0;
  padding: 14px 20px;
  font-size:20px;
}

button:hover {
  opacity: 0.8;
}

      
    }  
    span{  
        color: black;  
        font-size: 17px;  
    }  
    a{  
        float: right;  
        background-color: white;  
    }  
